* {
  box-sizing: border-box;
  margin: 0;
}

main{
  width: 1000px;
  margin: auto;
}

.row {
text-align: center;
}

.cover {
  display: inline-block;
  position: relative;
}
.cover:hover  .favorite {
  display: block;
  color: red;
}
.discount {
  width: 50px;
  height: 30px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.discount.off30 {
  background-color: green;
}
.discount.off5 {
  background-color: red;
}
.favorite {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
  display: none;
  cursor: pointer;
}
